# Microservice
PORT=3003
HOST='0.0.0.0'
ALLOWED_ORIGINS="http://localhost:3001,http://localhost:3002"

# Database 
DB_HOST=localhost
DB_PORT=5432
DB_USER=authuser
DB_PASSWORD=authuser123
DB_NAME=authdb
#DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"
DATABASE_URL="postgresql://authuser:authuser123@postgres-auth-db:5432/authdb?schema=public"
REDIS_PORT=6379
REDIS_URL="redis://redis-auth-db:6379"
RESEND_API_KEY=re_XXxxxxx_xxxxxxxxxxxxxxx
RESEND_FROM_MAIL="onboarding@resend.dev"