# Microservice
PORT=3003
HOST='0.0.0.0'
ALLOWED_ORIGINS="http://localhost:3001,http://localhost:3002"

# Database
DB_HOST=postgres
DB_PORT=5434
DB_USER=authms
DB_PASSWORD=authms123
DB_NAME=authdb
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"